<div class="px-6 pt-6 lg:px-8">
  <div>
    <nav class="flex h-9 items-center justify-between" aria-label="Global">
      <div class="flex lg:min-w-0 lg:flex-1" aria-label="Global">
        <a href="#" class="-m-1.5 p-1.5">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-code-slash"
            viewBox="0 0 16 16">
            <path
              d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z" />
          </svg>
        </a>
      </div>
      <div class="flex lg:hidden">

      </div>
      <div class="lg:flex lg:min-w-0 lg:flex-1 lg:justify-center lg:gap-x-5">
        <a href="#" class="font-semibold text-white hover:text-gray-900">About Me ‎ ‎ ‎ </a>

        <a href="/projects
" class="font-semibold text-white hover:text-gray-900">Projects ‎ ‎ ‎ </a>

        <a href="/awards" class="font-semibold text-white hover:text-gray-900">Awards ‎ ‎ ‎ </a>

        <a href="#" class="font-semibold text-white hover:text-gray-900">Goals ‎ ‎ ‎ </a>

      </div>
      <div class="hidden lg:flex lg:min-w-0 lg:flex-1 lg:justify-end">
      </div>
    </nav>
